 <div class="panel panel-warning ">
        <div class="panel-heading"><h3>Relatório de Compras</h3></div>
      <table class="table table-hover">
          <thead>
            <tr>
              <th>Tipo da análise</th>
              <th>Resultado</th>
            </tr>
          </thead>
          <tbody>

            <tr>
             <td>Total de compras efetuadas</td>
              <td>{{total}}</td>
            </tr>  
            <tr>
             <td>Media de produtos por compra</td>
              <td>{{media}}</td>
            </tr>         
          </tbody>
      </table>
  
</div>

