
         <section id ="Sales" title="Para Cães">
             <h2 id="TitleSale">Para Cães</h2>
            <ul>
                <li> <img src="../../assets/img/cama_caes.jpg" alt="Cama" height="128" width="176"> 
                    <p>{{cama.descricao}}</p>
                    <p>R$ {{cama.preco}}</p>
                <button type="button" id="bt1" (click)="inserirCompra(1)">Comprar!</button> </li>

                <li> <img src="../../assets/img/coleira_caes.jpg" alt="Coleira" height="150" width="150">
                 <p>{{coleira.descricao}}</p>
                 <p>R$ {{coleira.preco}}</p>
                <button type="button" id="bt2" (click)="inserirCompra(2)">Comprar!</button> </li>

            </ul>
          
         </section>
         
        <section id ="Sales" title="Para Gatos">
             <h2 id="TitleSale">Para Gatos</h2>
            <ul>
                <li> <img src="assets/img/toca_gatos.jpg" alt="Toca" height="150" width="150"> 
                     <p>{{toca.descricao}}</p>
                     <p>R$ {{toca.preco}}</p>
                <button type="button" id="bt3" (click)="inserirCompra(3)">Comprar!</button> </li>

                <li> <img src="assets/img/arranhador_gatos.jpg" alt="Arranhador" height="120" width="151">
                 <p>{{arranhador.descricao}}</p>
                 <p>R$ {{arranhador.preco}}</p>
                <button type="button" id="bt4" (click)="inserirCompra(4)">Comprar!</button> </li>

            </ul>

         </section>
    